// This is the file with the colors variables
// Theme Author: Aline Ferreira
// Version: 1.0

$main_color: #413660 !default;
$main_color_lighter: #6d5ba1 !default;
$snd_color: #e6e6e6 !default;
$text_color: #000000 !default;
$pure_black: #000000 !default;
$pure_white: #ffffff !default;
$pure_ice: darken($pure_white, 5%) !default;
$space_gray: #343434 !default;
$medium_gray: lighten($space_gray, 24%);
$lighter_gray: #e4e4e4;
$alert-red: #dc2626;
