/*===========================================*/
/* This is the file with about section style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/

#about {
  margin-top: -25px;
  padding: 196px 0 90px;
  background: url('../../images/familia-recebendo-as-chaves.png') no-repeat left center;
  background-size: cover;
  position: relative;

  h2 {
    max-width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 135%;
    color: $main_color;
    margin-bottom: 32px;
  }

  @media (min-width: 768px) and (max-width: 1799px) {
    background-image: url('../images/familia-recebendo-as-chaves-medium.png');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 767px) {
    background-image: url('../images/painting.png'),
      url('../images/familia-recebendo-as-chaves-min.png');
    background-position: center top, center bottom;
    background-size: 100%, contain;
    background-repeat: no-repeat;
    padding: 245px 0 0;
    margin-top: 0;

    h2 {
      font-size: 48px;
    }
  }

  @media (max-width: 575px) {
    padding: 40% 0 0;
  }

  .img-bg {
    display: none;

    @media (max-width: 767px) {
      display: block;
      max-width: 100%;
    }
  }

  .center {
    > div {
      margin-left: 55%;

      @media (min-width: 768px) and (max-width: 1799px) {
        margin-left: 45%;
      }

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .description {
      display: grid;
      gap: 40px;
      max-width: 430px;
      margin-bottom: 40px;

      p,
      strong {
        font-size: 18px;
        line-height: 24px;
      }

      @media (max-width: 767px) {
        margin-bottom: 62px;
        gap: 24px;

        p {
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}
