/*
Author: Aline Alves Ferreira
08.Jun.2023
*/

//Color Schema
@import '../_base/color';

//Fonts
@import '../_base/fonts';

// Pre-sets
@import '../_base/main';

//Header
@import '../_components/header';

/*===========================================*/
/* This is the file with home style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
.btn-action {
	font-size: 16px;
	padding: 17px 35px;
	border-radius: 26px;
	display: inline-block;
}

.heading2 {
	color: #FFF;
	text-align: center;
	font-weight: 600;
	font-size: 47px;
	line-height: 52px;
}

#banner {
	height: calc(100vh - 115px);
	background: url("../../src/images/bgmain.jpg") no-repeat;
	background-size: cover;
	padding-top: 60px;

	h1 {
		font-size: 50	px;
		font-weight: 600;
		color: #FFF;
		text-align: left;
		margin-bottom: 50px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			color: #FFF;
			font-size: 18px;
			margin-bottom: 12px;
			
			span {
				display: inline-block;
				padding-left: 35px;
			}

			&:before {
				content: '\e95f';
				display: inline-block;
				width: 20px;
				height: 20px;
				font-family: "fontello";
				color: $main_color;
				border: 2px solid $main_color;
				font-size: 12px;
				line-height: 15px;				
				text-align: right;				
				border-radius: 50%;
				margin: 5px 10px 10px 0;
				position: absolute;
			}

		}
	}

	.item {
		position: relative;

		.slide_cont {
			position: absolute;
			top: 12%;
			left: 100px;
			color: $pure_white;
			text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);

			span {
				display: block;
				line-height: 53px;
			}

			.line-one {
				font-weight: 300;
				font-size: 55px;
			}

			.line-two {
				font-weight: 500;
				font-size: 55px;
			}

			.line-three {
				font-size: 18px;
				font-weight: 300;
				line-height: 28px;
				margin-top: 18px;
			}
		}
	}

	.slick-slide {
		img {
			width: 100%;
			object-fit: cover;
		}
	}    

	.slick-prev, 
	.slick-next {
		width: 40px;
		height: 43px;
		position: absolute;
		z-index: 2;
		padding: 0;
		top: 50%;
		transform: translateY(-50%);
		color: transparent;
		background: transparent;
		border: none;
		-moz-transition: .3s all;
		-webkit-transition: .3s all;
		-o-transition: .3s all;
		-ms-transition: .3s all;
		transition: .3s all;
		outline: none;		

		&:before {
			font-family: 'LineAwesome';
			font-size: 50px;
			font-weight: bold;
			color: $pure_white;
		}
	}

	.slick-prev {
		left: 15px;
		&:before {
			content: "\F111";
		}
	}

	.slick-next {
		right: 15px;
		&:before {
			content: "\F112";
		}
	}
	
	.slick-dots {
		display: flex;
		justify-content: center;	
		margin: 0;
		padding: 14px 0;	
		list-style-type: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50px);

		li {
			padding: 0 5px;
		}

		button {
			display: block;
			width: 14px;
			height: 14px;
			border: 1px solid $medium_gray;
			border-radius: 100%;
			background-color: $pure_white;			
			text-indent: -9999px;

			&:focus {
				outline: none;
			}
		}
	}

}

#plans {
	margin-top: -50px;
	padding-bottom: 60px;

	.plan-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.plan-item {
			// padding: 35px 58px;
			padding: 35px;
			width: 390px;

			position: relative;
			background-repeat: no-repeat;
			background-size: cover;

			&:hover .bg-hover {
				opacity: 1;
			}
			
			.bg-hover {
				width: 100%;
				position: absolute;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 0;
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			&.basic {
				background-image: url('../../src/images/tablet.jpg');			
				color: #262937;	
				
				.bg-hover {
					background-color: #2cffc8;
				}
			}

			&.soft {
				background-image: url(../../src/images/girl.jpg);
				color: #FFF;
				

				.bg-hover {
					background-color: #262937;
				}
			}

			&.family {
				background-image: url('../../src/images/family.jpg');
				color: #FFF;

				.bg-hover {
					background-color: $main_color;
				}
			}

			&.premium {
				background-image: url('../../src/images/watchingtv.jpg');
				color: #262937;	

				.bg-hover {
					background-color: #C0C0C0;
				}
			}

			&.gold {
				background-image: url('../../src/images/gold.jpg');
				color: #FFF;

				.bg-hover {
					background-color: #D4AF37;
				}
			}

			.plan-item-inner {
				position: relative;
				z-index: 2;
				
				.plan-name {
					font-size: 30px;
					font-weight: 600;
					margin-bottom: 40px;
				}

				.plan-value {	
					font-size: 20px;			

					span {
						font-size: 28px;
						font-weight: 600;
					}
				}
			}

		}
	}

	.box-btn {
		text-align: center;
		margin: 70px 0;

		.btn-action {
			background-color: $main_color;
			color: #FFF;
		}
	}

}

#contactWhats{
	background-color:#0e4887;
	color:#FFF;text-align:center;

	.btn-action{
		margin-top:30px;
		text-transform:uppercase;
		background:#FFF;
		color:#0e4887;
		white-space:nowrap;

		i{
			font-size:18px;
			margin-right:5px;
		}
	}
}

#services,#contactWhats,#contact{padding:60px 0}

#services {
	background-color: #262937;
	background: url("../../src/images/bgservices.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	
	.services-list {
		margin-top: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;		
    	flex-wrap: wrap;

		.service-item {
			text-align: center; 
			padding: 35px 58px;
			-webkit-box-flex: 1;
			-ms-flex: 1 1 0px;
				flex: 1 1 0;

			i, strong, span {
				display: block;
				color: #FFF;
			}

			i {
				font-size: 65px;
			}

			strong {
				font-size: 22px;
				margin-bottom: 22px;
			}

		}
	}
}

#contact {
	
	background-color: $main_color;

	.contact-form{
		margin-top: 25px;

		p.tip {
			color: #FFF;
			letter-spacing: 0.9px;
			max-width: 650px;
			margin: 0 auto 50px;
			text-align: justify;
		}

		#contact-form {

			.form-group {
				margin-bottom: 22px;
			}

			label {
				font-family: $main_font;
				color: $pure_black;
				font-size: 12px;				
				text-transform: uppercase;
			}

			textarea.form-control,
			input.form-control {
				border: 1px solid $medium_gray !important;
				background-color: #FFF;;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 10px;

				&:focus {
					border: 1px solid $space_gray !important;
				}
			}

			input.form-control {
				height: 40px;
			}

			textarea.form-control {
				height: 120px;
				/*margin-bottom: 20px;*/
			}

			.form-btn {
				color: $pure_white;
				background-color: $main_color;
				width: 160px;
				border: 1px solid $main_color;
				padding: 12px 20px;
				letter-spacing: 2px;
				text-transform: uppercase;

				&:hover,
				&:focus{
					color: $main_color;
					background-color:transparent;
					border: 1px solid $main_color;
					outline: none;
				}
			}
			
			::-webkit-input-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			::-moz-placeholder { 
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}

			:-ms-input-placeholder {  
				color: $medium_gray !important;
				text-transform: initial;
				font-size: 13px;
			}
		}

		.btn-action {
			color: $main_color;
			border: none;
			text-transform: uppercase;
		}
	}

	.line {
		width: 55px;
		height: 2px;
		background-color: $main_color;
		margin: 45px auto;
	}

	.contact-lateral {
		padding-left: 30px;

		h3.header-contact {
			font-size: 22px;
			font-weight: 300;
			display: inline-block;
			width: 310px;
			padding-bottom: 5px;
			border-bottom: 1px solid $space_gray;
			color: $space_gray;
		}
		
		.box-contact-info {
			width: 325px;
			text-align: left;

			.contact-info {
				margin-top: 18px;

				.contact-left { 
					width: 40px;
					height: 40px;
					display: inline-flex;
									
					align-items: center;		    
					-webkit-align-items: center;
					-webkit-box-align: center;
					-ms-flex-align: center;

					justify-content: center;
					-webkit-justify-content: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					margin-right: 10px;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border: 1px solid $space_gray;

					i {
						vertical-align: middle;
						font-size: 22px;
						color: $space_gray;

						&.cel {
							font-size: 27px;
						}
					}
				}

				.contact-right {
					display: inline;
					height: 40px;
					line-height: 40px;
					font-size: 18px;
					font-weight: 300;
					color: $space_gray;
				}

				p {
					font-size: 16px;
					font-weight: 500;
					color: $pure_black;
					margin-bottom: 0;
					margin-left: 20px;
				}
			}
		}
	}	
}

.modal-box {

	max-width: 550px;
	background: $pure_white;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;

	img {
		width: 100%;
		height: 100%;
	}

	.modal-box-content {
		padding: 25px;

		h4 {
			font-size: 26px;
			font-weight: 800;
			color:$pure_black;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		p {
			font-size: 15px;
			text-align: left;
			line-height: 22px;
			padding: 25px 0;
			padding-top: 10px;
			max-width: 800px;
			font-weight: 300;
			letter-spacing: 1px;
			color: $medium_gray;
		}
	}
}

//Footer
@import '../_components/footer';

@media (max-width: 1199px){
	.main {
		#about {
			background-image: none;
		}

		#services {
			.container-services {
				.service-list {
					width: 300px;
					padding: 30px;
				}
			}
		}
	}
}

@media (max-width: 991px){
	.main {
		#banner {
			height: auto;
		}

		#plans {
			margin-top: 30px;
		}

		#contact {
			.contact-lateral {
				text-align: center;
				margin-top: 30px;
		
				.box-contact-info {
					margin: 0 auto;
				}		
			}
		}
	}
}


@media (max-width: 767px){
	.main {
		.heading2 {
			font-size: 30px;
    		line-height: 35px;
		}

		#banner {
			h1 {
				font-size: 35px;
			}
		}
	}
}


