@charset "UTF-8";
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Inter-Thin.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Thin.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Inter-ThinItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-ThinItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Inter-ExtraLight.woff2?v=3.19) format("woff2"), url(../fonts/Inter-ExtraLight.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Inter-ExtraLightItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-ExtraLightItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Inter-Light.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Light.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Inter-LightItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-LightItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Regular.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter-Italic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Italic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Inter-Medium.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Medium.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Inter-MediumItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-MediumItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Inter-SemiBold.woff2?v=3.19) format("woff2"), url(../fonts/Inter-SemiBold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Inter-SemiBoldItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-SemiBoldItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Bold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter-BoldItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-BoldItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBold.woff2?v=3.19) format("woff2"), url(../fonts/Inter-ExtraBold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBoldItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-ExtraBoldItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-Black.woff2?v=3.19) format("woff2"), url(../fonts/Inter-Black.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Inter-BlackItalic.woff2?v=3.19) format("woff2"), url(../fonts/Inter-BlackItalic.woff?v=3.19) format("woff");
}
@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(../fonts/Inter-roman.var.woff2?v=3.19) format("woff2");
}
@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url(../fonts/Inter-italic.var.woff2?v=3.19) format("woff2");
}
@font-face {
  font-family: Inter var experimental;
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url(../fonts/Inter.var.woff2?v=3.19) format("woff2");
}
/*********************************
* General 
**********************************/
/*********************************
* BOTÃO PADRÃO - SIMPLES  
**********************************/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  font-size: 14px;
  font-family: "Inter", "sans-serif";
  line-height: normal;
  font-weight: 400;
}

/*********************************
* HELPER CLASSES 
**********************************/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.text-alert {
  color: #dc2626;
}

.top_space10 {
  margin-top: 10px;
}

.top_space15 {
  margin-top: 15px;
}

.top_space20 {
  margin-top: 22px;
}

.top_space30 {
  margin-top: 30px;
}

.btn-primary {
  color: #ffffff;
  border: 1px solid #413660;
  background-color: #413660;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 14px 18px;
  gap: 6px;
  height: 52px;
  border-radius: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.68px;
  outline: 0px;
  transition: background 0.2s ease-in 0s;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #6d5ba1;
  color: #ffffff;
}
.btn-primary:active {
  background-color: #000;
  border: none;
}
.btn-primary:disabled {
  color: #cfd0d1;
  background-color: #f2f2f2;
  border: none;
  cursor: not-allowed;
}

/*********************************
* PAGE TITLE HEADERS
**********************************/
h1.heading,
h2.heading {
  color: #413660;
  font-family: "Inter", "sans-serif";
}

h1.heading {
  position: relative;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
h1.heading:after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #413660;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  h1.heading {
    font-size: 25px;
  }
}

h2.heading {
  font-size: 25px;
}
@media (max-width: 767px) {
  h2.heading {
    font-size: 20px;
  }
}

label[id$=-error] {
  color: #ea4335 !important;
  font-size: 13px;
  position: absolute;
  margin-top: 0 !important;
  font-weight: 500;
  text-transform: initial !important;
}

/*********************************
* MODAL CONTACT  
**********************************/
#contactModal .modal-header {
  background: #413660;
  color: #ffffff;
}
#contactModal .modal-header .modal-title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.6px;
}
#contactModal .modal-header .close {
  margin-top: -2px;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  font-size: 25px;
  outline: none;
}
#contactModal .modal-header .close:hover {
  opacity: 0.8;
}
#contactModal .modal-body .form-group {
  margin-bottom: 20px;
}
#contactModal .modal-body .form-group label {
  font-weight: 500;
}
#contactModal .alert {
  display: none;
}
#contactModal .alert i {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: bottom;
}
#contactModal .modal-footer button {
  outline: none;
}
#contactModal .modal-footer button[type=submit] {
  background: #343434;
}

/*===========================================*/
/* This is the file with banner style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
.main-background {
  width: 110vw;
  height: 100vh;
  background: linear-gradient(45deg, rgb(200, 73, 69) 0%, rgb(126, 36, 81) 50%, rgb(65, 54, 96) 100%);
  position: fixed;
  z-index: -1;
}

#banner {
  display: flex;
  min-height: 75vh;
}
@media (max-width: 767px) {
  #banner {
    height: initial;
  }
}
#banner .container {
  display: flex;
}
@media (max-width: 767px) {
  #banner .container {
    flex-direction: column;
    padding-top: 32px;
  }
}
#banner .container .subscribe-container,
#banner .container .video-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1;
}
@media (max-width: 767px) {
  #banner .container .subscribe-container {
    align-items: flex-start;
    order: 2;
  }
}
#banner .container .subscribe-container .content {
  max-width: 380px;
  color: #fff;
}
#banner .container .subscribe-container .content h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 135%;
  margin-top: 32px;
}
#banner .container .subscribe-container .content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: #fbe6e5;
  margin: 12px 0 24px;
}
@media (max-width: 767px) {
  #banner .container .subscribe-container .content {
    max-width: 100%;
    margin-top: 36px;
  }
  #banner .container .subscribe-container .content h1 {
    font-size: 32px;
    max-width: 250px;
  }
  #banner .container .subscribe-container .content p {
    font-size: 20px;
  }
  #banner .container .subscribe-container .content button {
    margin-bottom: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #banner .container .subscribe-container .content {
    text-align: center;
  }
  #banner .container .subscribe-container .content h1 {
    max-width: initial;
  }
  #banner .container .subscribe-container .content button {
    margin: 0 auto 40px;
  }
}
#banner .container .video-container {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
@keyframes slime {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
#banner .container .video-container img {
  max-width: 100%;
  box-shadow: rgba(16, 18, 19, 0.2) 0px 30px 50px 0px;
  animation: 5s ease-in-out 0s infinite normal none running slime;
}
@media (max-width: 767px) {
  #banner .container .video-container {
    align-items: flex-start;
    flex: initial;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #banner .container .video-container {
    width: 300px;
    height: 300px;
    align-self: center;
  }
}

/*===========================================*/
/* This is the file with about section style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
#about {
  margin-top: -25px;
  padding: 196px 0 90px;
  background: url("../../images/familia-recebendo-as-chaves.png") no-repeat left center;
  background-size: cover;
  position: relative;
}
#about h2 {
  max-width: 510px;
  font-weight: 300;
  font-size: 64px;
  line-height: 135%;
  color: #413660;
  margin-bottom: 32px;
}
@media (min-width: 768px) and (max-width: 1799px) {
  #about {
    background-image: url("../images/familia-recebendo-as-chaves-medium.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  #about {
    background-image: url("../images/painting.png"), url("../images/familia-recebendo-as-chaves-min.png");
    background-position: center top, center bottom;
    background-size: 100%, contain;
    background-repeat: no-repeat;
    padding: 245px 0 0;
    margin-top: 0;
  }
  #about h2 {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  #about {
    padding: 40% 0 0;
  }
}
#about .img-bg {
  display: none;
}
@media (max-width: 767px) {
  #about .img-bg {
    display: block;
    max-width: 100%;
  }
}
#about .center > div {
  margin-left: 55%;
}
@media (min-width: 768px) and (max-width: 1799px) {
  #about .center > div {
    margin-left: 45%;
  }
}
@media (max-width: 767px) {
  #about .center > div {
    margin-left: 0;
  }
}
#about .center .description {
  display: grid;
  gap: 40px;
  max-width: 430px;
  margin-bottom: 40px;
}
#about .center .description p,
#about .center .description strong {
  font-size: 18px;
  line-height: 24px;
}
@media (max-width: 767px) {
  #about .center .description {
    margin-bottom: 62px;
    gap: 24px;
  }
  #about .center .description p {
    font-size: 16px;
    line-height: 21px;
  }
}

/*===========================================*/
/* This is the file with benefits style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
#benefits {
  display: flex;
  padding-top: 180px;
  background: url("../images/bg-benefits.png") no-repeat top center white;
  background-size: 100%;
  min-height: 100vh;
}
@media (max-width: 767px) {
  #benefits {
    padding: 80px 0;
  }
}
#benefits .container {
  text-align: center;
}
#benefits .container h2 {
  font-weight: 200;
  font-size: 64px;
  line-height: 135%;
  color: #21252b;
}
@media (max-width: 767px) {
  #benefits .container h2 {
    font-size: 48px;
    line-height: 120%;
  }
}
@media (max-width: 575px) {
  #benefits .container h2 {
    font-size: 38px;
  }
}
#benefits .container h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #21252b;
  margin-top: 12px;
  margin-bottom: 120px;
}
#benefits .container .benefitCards-wrapper {
  max-width: 930px;
  margin: 0 auto 60px;
}
#benefits .container .benefitCards-wrapper.swiper {
  padding-bottom: 40px;
}
#benefits .container .benefitCards-wrapper.swiper .swiper-pagination {
  bottom: 0;
}
#benefits .container .benefitCards-wrapper.swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: rgb(201, 210, 216);
  border-radius: 50%;
  z-index: 15;
  cursor: pointer;
}
#benefits .container .benefitCards-wrapper.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(119, 139, 153);
}
#benefits .container .benefitCards-wrapper .benefitCard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#benefits .container .benefitCards-wrapper .benefitCard-wrapper svg {
  width: 60px;
}
#benefits .container .benefitCards-wrapper .benefitCard-wrapper svg path {
  fill: #da5d59;
}
#benefits .container .benefitCards-wrapper .benefitCard-wrapper .benefitCard-title {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  line-height: 135%;
  color: #da5d59;
}
@media (max-width: 767px) {
  #benefits .container .benefitCards-wrapper .benefitCard-wrapper .benefitCard-title {
    font-size: 22px;
  }
}
#benefits .container .benefitCards-wrapper .benefitCard-wrapper .benefitCard-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  color: #363c43;
}
@media (max-width: 767px) {
  #benefits .container .benefitCards-wrapper .benefitCard-wrapper .benefitCard-description {
    font-size: 16px;
  }
}

/*===========================================*/
/* This is the file with plans style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
#plans {
  background-color: #413660;
  padding: 160px 0;
}
@media (max-width: 767px) {
  #plans {
    padding: 60px 0;
  }
}
#plans h2 {
  max-width: 603px;
  font-weight: 600;
  font-size: 32px;
  line-height: 135%;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
}
@media (max-width: 767px) {
  #plans h2 {
    font-size: 24px;
    margin: 0px auto 24px;
  }
}
#plans .container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
#plans .wrapper {
  position: relative;
  margin-top: 35px;
}
#plans .wrapper .recommended {
  width: fit-content;
  white-space: nowrap;
  padding: 8px 16px 32px;
  margin-bottom: -23px;
  border-radius: 8px 8px 0px 0px;
  background: rgb(200, 73, 69);
  position: absolute;
  left: 0;
  top: -35px;
}
#plans .wrapper .recommended span {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: rgb(255, 255, 255);
}
#plans .wrapper .plan-card {
  min-width: 275px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  border: 2px solid #c84945;
  position: relative;
  z-index: 2;
}
#plans .wrapper .plan-card__header {
  display: flex;
  flex-direction: column;
}
#plans .wrapper .plan-card__header-name {
  font-weight: 800;
  font-size: 30px;
  line-height: 135%;
  color: #c84945;
}
#plans .wrapper .plan-card__header-amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #000;
}
#plans .wrapper .plan-card__benefits {
  display: flex;
  flex-direction: column;
  color: rgb(87, 89, 91);
  gap: 8px;
}
#plans .wrapper .plan-card__benefits span {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  margin-right: 8px;
}
#plans .wrapper .plan-card__value-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  color: #57595b;
}
#plans .wrapper .plan-card__value-promotional-price {
  font-weight: 700;
  font-size: 34px;
  line-height: 135%;
  color: rgb(65, 54, 96);
}
#plans .wrapper .plan-card__value-promotional-periodicity {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: rgb(65, 54, 96);
}
#plans .wrapper .plan-card__value-old {
  position: relative;
}
#plans .wrapper .plan-card__value-old-strike {
  height: 0px;
  width: 149px;
  border: 1px solid rgb(138, 140, 142);
  position: absolute;
  left: 0px;
  top: calc(50% - 0px);
}
#plans .wrapper .plan-card__value-old-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: rgb(138, 140, 142);
}
#plans .wrapper .plan-card__value-old-periodicity {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: rgb(138, 140, 142);
}
#plans .wrapper .plan-card__value-old-note {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: rgb(87, 89, 91);
}
#plans .wrapper .plan-card button {
  color: #ffffff;
  border: 1px solid #c84945;
  background-color: #c84945;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 14px 18px;
  gap: 6px;
  height: 52px;
  border-radius: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.68px;
  outline: 0px;
  transition: background 0.2s ease-in 0s;
  cursor: pointer;
  align-self: flex-start;
}
#plans .wrapper .plan-card button:hover {
  background-color: #e0e1e2;
  color: #c84945;
}
#plans .wrapper .plan-card button:active {
  background-color: #000;
  border: none;
}
#plans .wrapper .plan-card button:disabled {
  color: #cfd0d1;
  background-color: #f2f2f2;
  border: none;
  cursor: not-allowed;
}
#plans .wrapper .plan-card:hover {
  background: linear-gradient(80.54deg, rgb(227, 71, 67) 0%, rgb(201, 58, 71) 13.58%, rgb(161, 38, 78) 36.85%, rgb(146, 31, 81) 48.49%, rgb(67, 51, 97) 96.98%);
}
#plans .wrapper .plan-card:hover * {
  color: #fff;
  transition: all 0.5s ease;
}
#plans .wrapper .plan-card:hover * svg {
  fill: #fff;
}
#plans .wrapper .plan-card:hover * .plan-card__value-old-strike {
  border-color: #fff;
}
#plans .wrapper .plan-card:hover button {
  color: #c84945;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 14px 18px;
  gap: 6px;
  height: 52px;
  border-radius: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.68px;
  outline: 0px;
  transition: background 0.2s ease-in 0s;
  cursor: pointer;
}
#plans .wrapper .plan-card:hover button:hover {
  background-color: #e0e1e2;
  color: #c84945;
}
#plans .wrapper .plan-card:hover button:active {
  background-color: #000;
  border: none;
}
#plans .wrapper .plan-card:hover button:disabled {
  color: #cfd0d1;
  background-color: #f2f2f2;
  border: none;
  cursor: not-allowed;
}
#plans .wrapper .plan-card.active {
  background: linear-gradient(80.54deg, rgb(227, 71, 67) 0%, rgb(201, 58, 71) 13.58%, rgb(161, 38, 78) 36.85%, rgb(146, 31, 81) 48.49%, rgb(67, 51, 97) 96.98%);
}
#plans .wrapper .plan-card.active * {
  color: #fff;
  transition: all 0.5s ease;
}
#plans .wrapper .plan-card.active * svg {
  fill: #fff;
}
#plans .wrapper .plan-card.active * .plan-card__value-old-strike {
  border-color: #fff;
}
#plans .wrapper .plan-card.active button {
  color: #c84945;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 14px 18px;
  gap: 6px;
  height: 52px;
  border-radius: 70px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.68px;
  outline: 0px;
  transition: background 0.2s ease-in 0s;
  cursor: pointer;
}
#plans .wrapper .plan-card.active button:hover {
  background-color: #e0e1e2;
  color: #c84945;
}
#plans .wrapper .plan-card.active button:active {
  background-color: #000;
  border: none;
}
#plans .wrapper .plan-card.active button:disabled {
  color: #cfd0d1;
  background-color: #f2f2f2;
  border: none;
  cursor: not-allowed;
}

/*===========================================*/
/* This is the file with subscribe section style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
#subscribe {
  background-color: #ffffff;
  padding: 160px 0;
}
@media (max-width: 767px) {
  #subscribe {
    padding: 80px 0;
  }
}
#subscribe h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 135%;
  color: #3d444d;
}
#subscribe p.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #3d444d;
  margin-bottom: 32px;
}
#subscribe #contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 12px;
}
#subscribe .wrapper-input {
  position: relative;
  border: 2px solid #c9d2d8;
  border-radius: 8px;
  flex: 1;
  min-width: calc(25% - 12px);
}
@media (min-width: 768px) and (max-width: 991px) {
  #subscribe .wrapper-input {
    min-width: calc(50% - 12px);
  }
}
@media (max-width: 767px) {
  #subscribe .wrapper-input {
    min-width: 100%;
  }
}
#subscribe .wrapper-input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 28px 16px 10px;
}
#subscribe .wrapper-input input:focus + label {
  font-size: 12px;
  line-height: 16px;
  transform: translateY(-100%);
}
#subscribe .wrapper-input input.has-value + label {
  font-size: 12px;
  line-height: 16px;
  transform: translateY(-100%);
}
#subscribe .wrapper-input label {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 16px;
  line-height: 135%;
  color: #5b707f;
  pointer-events: none;
  transition: transform 0.2s ease;
  transform: translateY(-50%);
}
#subscribe .wrapper-input .error-message {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: transparent;
  transition: bottom 0.2s ease, opacity 0.5s ease, color 0.1s ease;
}
#subscribe .wrapper-input.has-error {
  background: #fee2e2;
  border: 2px solid #fca5a5;
}
#subscribe .wrapper-input.has-error .error-message {
  color: #dc2626;
  bottom: -25px;
  opacity: 1;
}
#subscribe .wrapper-select {
  position: relative;
  border: 2px solid #c9d2d8;
  border-radius: 8px;
  flex: 1;
  min-width: calc(25% - 12px);
  min-height: 57px;
}
#subscribe .wrapper-select.has-value label {
  font-size: 12px;
  line-height: 16px;
  transform: translateY(-100%);
}
#subscribe .wrapper-select label {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 16px;
  line-height: 135%;
  color: #5b707f;
  pointer-events: none;
  transition: transform 0.2s ease;
  transform: translateY(-50%);
}
#subscribe .wrapper-select .select_wrap {
  position: relative;
  height: 100%;
}
#subscribe .wrapper-select .select_wrap .default_option {
  background: var(--white);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}
#subscribe .wrapper-select .select_wrap .default_option .icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
  display: grid;
  place-items: center;
}
#subscribe .wrapper-select .select_wrap .default_option .icon svg {
  transition: transform 0.2s ease;
}
#subscribe .wrapper-select .select_wrap .default_option li {
  padding: 28px 16px 10px;
  font-weight: 700;
}
#subscribe .wrapper-select .select_wrap .default_option li .option p {
  margin-bottom: 0;
}
#subscribe .wrapper-select .select_wrap .select_ul {
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 0;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #c9d2d8;
  display: none;
  list-style: none;
  z-index: 1;
}
#subscribe .wrapper-select .select_wrap .select_ul li {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1px;
}
#subscribe .wrapper-select .select_wrap .select_ul li:last-child {
  margin-bottom: 0;
}
#subscribe .wrapper-select .select_wrap .select_ul li:hover, #subscribe .wrapper-select .select_wrap .select_ul li.active {
  background: #f4f2f8;
}
#subscribe .wrapper-select .select_wrap .select_ul li p {
  margin: 0;
}
#subscribe .wrapper-select .select_wrap .option {
  display: flex;
  align-items: center;
}
#subscribe .wrapper-select .select_wrap.active .select_ul {
  display: block;
}
#subscribe .wrapper-select .select_wrap.active .default_option .icon svg {
  transform: rotate(180deg);
}
#subscribe .wrapper-select #profile_type {
  border: none;
  position: absolute;
  opacity: 0;
}
#subscribe .wrapper-select .error-message {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: transparent;
  transition: bottom 0.2s ease, opacity 0.5s ease, color 0.1s ease;
}
#subscribe .wrapper-select.has-error {
  background: #fee2e2;
  border: 2px solid #fca5a5;
}
#subscribe .wrapper-select.has-error .error-message {
  color: #dc2626;
  bottom: -25px;
  opacity: 1;
}
#subscribe .container-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

/*===========================================*/
/* This is the file with footer style
/* Theme Author: Aline Ferreira
/* Version: 1.0
==============================================*/
footer {
  background-color: rgb(49, 42, 65);
  padding: 16px 0px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  footer p {
    font-size: 12px;
  }
}

.home {
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
